*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

h1 {
    font-size: 40px;
    background-image: linear-gradient(60deg, rgb(240, 241, 180),rgb(243, 228, 22));
    background-clip: text;
    color: transparent;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    padding: 10px;
    border: dotted;
    border-color: rgba(8, 133, 14, 0.63);
    border-width: 10px;
    border-radius: 40%;
}

img {
    display: block;
    margin: auto;
    border-radius: 15%;
    border-width: 20px;
    border-style:groove;
    border-color: rgba(8, 38, 56, 0.774);
}

h2 {
    margin-top: 80px;
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient(rgb(255, 238, 0),rgb(7, 56, 18));
    background-clip: text;
    color: transparent;
}

p, ul {
    padding: 10px;
    margin: auto;
    border-radius: 20%;
    text-align: center;
}

li {
    margin: 10px;
}




